/* Table of contact */
/* -----------------
1. General
2. Navbar
3. Banner
4. About
5. Services
6. Portfolio
7. Blog
8. Contact
9. Footer
----------------- */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

/* 1. General */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root{
    /* background color */
    --primary-color: #4458dc;
    --secondary-color: #854fee;
    --bg-white: #fff;
    --bg-light: #faf8ff;
    --bg-black: #000;
    --bg-gray: #eee;
    --gradient: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);

    /* Text Color */
    --primary-text: #4458dc;
    --secondary-text: #854fee;
    --text-white: #fff;
    --text-black: #000;
    --text-gray: #777;
    
    /* font-family */
    --primary-font: 'Rubik', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    
}

body{
    font-family: var(--primary-font);
    width: 100%;
    background-image: url("../images/body-bg.png.webp");
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

/* 1 Custom css */

::-webkit-scrollbar{
    width: 0.65rem;
}

::-webkit-scrollbar-track{
    background: var(--bg-gray);
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--secondary-color);
}

section{
    padding: 4.5rem 0;
}

.main-btn{
    display: inline-block;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 2.875rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.3125rem;
    box-shadow: 0 0.625rem 1.875rem rgb(118 85 225 / 30%);
    border: double 0.125rem transparent;
    padding: 0 2.0625rem;
    transition: all .3s ease-in-out;
    --webkit-transition: all .3s ease-in-out;
}


.primary-btn {
    background-image: var(--gradient);
    color: var(--text-white);
}

.primary-btn:hover {
    border-color: var(--secondary-color);
    background: var(--bg-white);
    color: var(--secondary-text);
    box-shadow: none;
}

.secondary-btn {
    background-image: var(--bg-white);
    color: var(--secondary-text);
    border-color: var(--secondary-color);
}

.secondary-btn:hover {
    background: var(--gradient);
    color: var(--text-white);
    box-shadow: none;

}

h1 {
    font-size: 4.375rem;
    line-height: 3.75rem;
    font-weight: 700;
    color: var(--text-black);
    margin-bottom: 1.25rem;
    font-family: var(--primary-font);
}

h2 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3.4375rem;
    margin-bottom: 1.5625rem;
    color: var(--text-black);
    font-family: var(--primary-font);
}

h3 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.125rem;
    margin-bottom: 0.9375rem;
    color: var(--text-black);
    font-family: var(--primary-font);
    text-transform: uppercase;
}

h5 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 2.1875rem;
    color: var(--text-black);
}

p {
    color: var(--text-gray);
    font-size: 0.9375rem;
    line-height: 1.625rem;
    font-weight: 400;
}


/* 2 Navbar */
.header_wrapper .navbar {
    padding: 0.375rem 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.header_wrapper .navbar-brand img {
    max-width: 3rem;
    height: auto;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {
    margin: 0 0.625rem;
}

.header_wrapper .nav-item .nav-link {
    font-family: var(--primary-font);
    font-size: 0.9375rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-black);
    display: inline-block;
    margin-top: 0.325rem;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: var(--primary-text);
}


.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 0.25rem 0.375rem 0 rgba(12, 0, 46, .05);
    box-shadow: 0 0.25rem 0.375rem 0 rgba(12, 0, 46, .05);
}



/* 3 Banner Section */

.banner_wrapper{
    padding-top: 6.875rem;
    z-index: 1;
    background-image: url(../images/home-banner.png);
    background-position: top center;
    background-size: cover;

}


.banner_wrapper .banner-content{
    vertical-align: middle;
    align-self: center;
}

.banner_wrapper .banner-content h2::before{
    content: '';
    width: 65%;
    height: 0.125rem;
    position: absolute;
    top: 50%;
    left: 22%;
    background: var(--bg-black);
    overflow-x: hidden;
}


/* 4 about */

.about_wrapper .single-logo-item{
    width: 100%;
    height: 6.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0.0625rem solid var(--bg-gray);
    box-shadow: none;
    transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -webkit-transition: all .4s ease 0s;
}

.about_wrapper .single-logo-item:hover{
    border: 0.0625rem solid transparent;
    box-shadow: 0 0.5rem 1.75rem rgb(118 85 225 / 50%);
}

/* 5 Project section */

.project_wrapper .nav-link {
    font-size: 0.9375rem;
    font-weight: 500;
    margin-right: 0.25rem;
    color: var(--text-black);
    text-transform: uppercase;
}


.project_wrapper .nav-link.active {
    color: var(--secondary-text);
    background-color: transparent;
}

.project_wrapper .project-img{
    position: relative;
    cursor: pointer;
}

.project_wrapper .project-img .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.project_wrapper .project-img:hover{
    transform: scale(1.02);
    transition: transform 0.4s ease 0s;
}

.project_wrapper .project-img:hover .overlay{
    background: rgba(77, 87, 222, .5);
}

.project-img .overlay i {
    font-size: 6.25rem;
    color: var(--text-white);
    position: absolute;
    top: 25%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}


.project_wrapper .project-img:hover i {
    opacity: 1;
    visibility: visible;
    top: 50%;
    left: 50%;
}




















